@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: clamp(300px, 100% - 4rem, 800px);
  margin: auto;
  border: 6px double grey;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  aspect-ratio: 1 / 1;
}

.cell {
  padding-left: 0.5ch;
  padding-top: 0.2ch;
  font-size: 0.8rem;
  aspect-ratio: 1 / 1;
}
.cell.black {
  background-color: grey;
}
.cell.current {
  border: 3px solid rgb(0, 140, 255);
  background-color: rgba(0, 140, 255, 0.3);
  background-image: url('./knight.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}
.cell.target {
  border: 3px solid green;
  background-color: rgba(0, 255, 0, 0.3);
  background-image: url('./finish.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
.cell.step {
  border: 3px solid rgb(255, 208, 0);
  background-color: rgba(255, 208, 0, 0.3);
}
